.container{
  display: flex;
  margin: 2vh;
  border: 1px solid rgba(0, 0, 0, 0.568);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.76),
  -8px -8px 5px #ffffffa6;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10vh;
  padding-left: 20vh;
  padding-right: 20vh;

}
img{
  width: 50%;
}

*{
  margin: 2vh;
}


.bgroup{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

button{
  margin-left: 40vh;
  margin-right: 40vh;
}
