<section class="parallax pimg-1">
  <div class="container">
    <h1>AstroBlogy</h1>
    <h3>
      « Vers l'infini et plus loin encore ! » Buzz l'Eclair.
    </h3>
    <p>
      TOKINIAINA Toavina (IGGLIA3)
    </p>

  </div>

</section>

  <section>

      <div class = "body">
        <app-content></app-content>
      </div>

  </section>

  <section class="parallax pimg-2">
    <div class="container">
      <h1>Rejoignez-moi!</h1>
      <div class="sobar">
        <a href="https://www.facebook.com/toki.toki.10441">
          <i class="fa fa-facebook-official fa-4x" aria-hidden="true"></i>
        </a>
        <a href="mailto:ttokiniainatoavina4@gmail.com">
          <i class="fa fa-google fa-4x" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/ttoavina">
          <i class="fa fa-github-square fa-4x" aria-hidden="true"></i>
        </a>

      </div>
    </div>
  </section>
